# Virtual environment
venv/

db.sqlite3

# Python cache
__pycache__/
*.pyc

# Environmental variable
.env

# Local databases
*.sqlite
*.db

# IDE files
.vscode/
.idea/

instance/

#ML artefacts
*.pkl
*.csv
model_coefficients.json